<mat-accordion *ngIf="posts.length>0">
  <mat-expansion-panel *ngFor="let post of posts">
    <mat-expansion-panel-header>
        <div class="container">
            <div class="row">
              <div class="col-9">
                  <h5>{{post.title}}</h5>
              </div>
              <div class="col-3">
                  <h5> Date created on   </h5>
              </div>
            </div>
          </div>

    </mat-expansion-panel-header>
    <div class="container">
        <div class="row">
          <div class="col-9">
              <p>{{post.content}} </p>
          </div>
          <div class="col-3">
              <h6 >{{post.postDate}}</h6>
          </div>
        </div>
         </div>
         <mat-action-row>

          <button mat-button color="primary" (click)="edite()">EDITE</button>
          <button mat-button color="warn" (click)="delete()">DELETE</button>
        </mat-action-row>

  </mat-expansion-panel>
</mat-accordion>
<h5 class="text-info" *ngIf="posts.length<=0">No posts to display</h5>
<button class="btn btn-primary" (click)="loadPost()" type="button">load posts</button>
